= simple_form_for(@project) do |f|
	= f.error_notification

	.form-inputs
		= f.input :unique_token, as: :hidden
		= f.input :title
		= f.input :link
		= f.input :description, as: :wysihtml5
		.row
			.col-md-6
				= f.input :start_date
			.col-md-6
				= f.input :end_date
	- unless action_name.eql?('edit')
		.form-inputs
			%label Project Images
			.dropzone#dropzone
	%br
	.form-actions
		= f.button :submit, class: 'btn btn-success'
