.row
	.col-lg-12
		%h1.page-header
			.pull-right
				- if user_signed_in?
					= link_to 'Edit', edit_project_path(@project), class: 'btn btn-info'
				= link_to 'Back', root_path, class: 'btn btn-default'
			= @project.title
			%small
				= @project.link

.row
	.col-md-8#displayImage
		= render 'projects/project_image', img: @project.project_images[0]
	.col-md-4
		%h3 Project Description
		= @project.description.html_safe
%br
.row
	.col-lg-12
		%h3 More Screenshots
		%hr

	- @project.project_images.each do |i|
		.col-sm-3.col-xs-6
			= link_to i, remote: true do
				= image_tag i.screenshot.url(:thumb), class: 'img-responsive portfolio-item'


/ %p#notice= notice
/ %p
/   %strong Title:
/   = @project.title
/ %p
/   %strong Description:
/   = @project.description
/ %p
/   %strong Start date:
/   = @project.start_date
/ %p
/   %strong End date:
/   = @project.end_date
/ = link_to 'Edit', edit_project_path(@project)
/ |
/ = link_to 'Back', projects_path
