.row
	.col-lg-12
		%h1.page-header
			.pull-right
				= link_to 'Edit', edit_project_path(@project), class: 'btn btn-info'
				= link_to 'Back', root_path, class: 'btn btn-default'
			= @project.title

.row
	.col-md-8
		= image_tag @project.project_images[0].screenshot.url(:large), class: 'img-responsive'
	.col-md-4
		%h3 Project Description
		= @project.description

.row
	.col-lg-12
		%h3 More Screenshots

	- @project.project_images.each do |i|
		.col-sm-3.col-xs-6
			= link_to '#' do
				= image_tag i.screenshot.url(:thumb), class: 'img-responsive portfolio-item'


/ %p#notice= notice
/ %p
/   %strong Title:
/   = @project.title
/ %p
/   %strong Description:
/   = @project.description
/ %p
/   %strong Start date:
/   = @project.start_date
/ %p
/   %strong End date:
/   = @project.end_date
/ = link_to 'Edit', edit_project_path(@project)
/ |
/ = link_to 'Back', projects_path
