!!!
%html
	%head
		%meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
		%title Portfolio
		= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
		= javascript_include_tag 'application', 'data-turbolinks-track' => true
		= csrf_meta_tags
	%body
		%nav.navbar.navbar-inverse.navbar-fixed-top
			.container
				.navbar-header
					%button{ :type => "button", :class => "navbar-toggle collapsed", :data => { :toggle => "collapse", :target => "#navbar" } }
						%span.sr-only
							Toggle navigation
						%span.icon-bar
						%span.icon-bar
						%span.icon-bar
					= link_to 'Samuel Ralak', root_path, class: 'navbar-brand'
				#navbar.navbar-collapse.collapse
					%ul.nav.navbar-nav.navbar-right
						- if user_signed_in?
							%li
								= link_to destroy_user_session_path, :method => :delete do
									= fa_icon 'sign-out', text: 'Sign Out'
						- else
							%li
								= link_to new_user_session_path do
									= fa_icon 'sign-in', text: 'Sign In'
		.container
			= yield
			%hr
			%footer
				.row
					.col-lg-12
						%p
							= "Copyright © Sassy Batman #{Date.current.strftime('%Y')}"